.searchbar__search{
    margin: 0 auto;
    display: block;
    width: calc(100vw - 2rem);
    height: 2.5rem;
    border-radius: 8px;
    margin-top: 1.5rem;
    box-sizing: border-box;
}

.searchbar__filter{
    margin-top: 1.5rem;
    width: 50vw;
    height: 2.5rem;
    background-color: white;
    margin-left: 1rem;
    border-radius: 8px;
}